# Environment files
.env
*.env

# Docker
docker-compose.override.yml

# Directories
node_modules
build
dist
.coverage
.nyc_output

# Editors
.idea
.vscode

# Logs
*.log
logs

# Misc
.DS_Store
dump.rdb

# Docker data
data/

# Ansible
inventory.ini
.vagrant

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup